#meme-image-container{
   position: relative;
    border: solid 1px black;
    width: 300px;
    height: 300px;
    background-color: white;
    overflow: hidden; /* Faz o div não aumentar a altura por causa da imagem */
}

#meme-image{
    width: 300px;
    height: 300px;
}
#meme-text{
    text-shadow: 5px 5px 5px black;
    width: 100%;
    position: absolute; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font: weight 900px;
    color: white;
    z-index: 4;
}

#fire{
    background-color: red;
    font-size: large;
    color: white;
    font-weight: 400;

}

#water{
    background-color: blue;
    font-size: large;
    color: white;
    font-weight: 400;

}
#earth{
    background-color: green;
    font-size: large;
    color: white;
    font-weight: 400;
}
.miniatura{
    width: 70px;
}
#meme-1, #meme-4{
    height: 70px;
}
/*referencia: https://blog.betrybe.com/css/css-background-image/

/*https://pt.stackoverflow.com/questions/52733/como-redimensionar-imagem-para-tamanho-do-container#:~:text=Tente%20recortar%20as%20imagens%20sempre,que%20ir%C3%A1%20transbordar%20da%20largura.